* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  header {
    background-color: #666;
    padding: 20px;
    text-align: center;
    color: white;
  }
  
  /* Container for flexboxes */
  section {
    display: -webkit-flex;
    display: flex;
  }
  
  /* Style the navigation menu */
  nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ccc;
    padding: 20px;
  }
  
  /* Style the list inside the menu */
  nav ul {
    /* list-style-type: none; */
    list-style-type: circle;
    padding: 0;
  }
  #links {
    padding-left: 3rem;
  }
  
  /* Style the content */
  .container {
    display: flex; /* Järjestää sisäkkäiset elementit (artikkeli ja tbl) riviksi */
    flex-direction: column;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
  }
  
  article {
    background-color: #f1f1f1;
    padding: 10px;
  }
  
  /* Style the footer */
  footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  /* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
  @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }
  
  /* Table */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  table, th, td {
    padding: 12px;
    border: 1px solid;
  }
  td {
    text-align: center;
  }
  tr:hover {background-color: lightgrey;}
  th {
    background-color: #5a8c7a;
    color: white;
  }
  tr:nth-child(even) {background-color: #e4e1e1;}